@use "../abstracts/colors" as *;

.nav {
  display: inline-flex;
  padding: 4.2rem 6.3rem;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    gap: 6.5rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
    & img {
      height: 4.4rem;
      height: 4.4rem;
      object-fit: cover;
      object-position: center;
    }
    & span {
      color: $color-black;
      font-family: "Poppins", sans-serif;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 3.2rem;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 3.5rem;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    &:link,
    &:visited {
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      line-height: 2.4rem;
      text-decoration: none;
      border-bottom: 0.2rem solid transparent;
      color: $color-neutral-4;
      text-transform: capitalize;
    }

    &:active,
    &:hover {
      border-bottom: 0.2rem solid $color-neutral-4;
    }
  }

  & .search-widget {
    width: 52.2rem;
    height: 4.8rem;
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 4rem;
    &-item {
      &:link,
      &:visited {
        border-bottom: initial;
      }
      &:hover,
      &:active {
        border-bottom: initial;
      }
    }
  }

  &__cart {
    width: 12rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
    border-radius: 3.1rem;
    border: 1px solid $color-neutral-6;

    & span {
      color: $color-neutral-4;
      font-family: "Poppins", sans-serif;
      font-size: 1.4rem;
      line-height: 2.4rem;
    }
    &:visited,
    &:link {
      border: 1px solid $color-neutral-6;
    }
    &:hover,
    &:active {
      border: 1px solid $color-neutral-6;
    }
  }
  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    stroke: $color-neutral-4;
  }
}
