$color-white: #fff;
$color-black: #000;
$color-dark: #141416;
$color-green: #45b26b;
$color-pink: #ef466f;
$color-purple: #9757d7;

/* NEUTRALS */

$color-neutral-4: #777e90;
$color-neutral-6: #e6e8ec;

/* GREYS  */
$color-grey-1: #e6e8ec;
